<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/project.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Raleway&family=Roboto:wght@100&family=Tilt+Prism&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@500&family=Raleway&family=Roboto:wght@100&family=Tilt+Prism&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>ShivamPly.com</title>
</head>

<body>
    <div class="background" id="Home">

        <input type="checkbox" id="checkbox">
        <label for="checkbox">
            <i class="icon">
                <span class="top" id="one"></span>
                <span class="mid"></span>
                <span class="top" id="two"></span>
            </i>
        </label>
        <div class="nevbar" id="nev">
            <ul>
                <li><a href="#Home">HOME</a></li>
                <li><a href="#About Us">ABOUT US</a></li>
                <li><a href="#Products">PRODUCTS</a></li>
                <li><a href="#Projects">PROJECTS</a></li>
                <li><a href="#contect">CONTACT US</a></li>
            </ul>
        </div>
        <div class="contener1">
            <h1 class="main">Design your <br> dream home </h1>
            <p class="para1">With</p>
            <p class="para2">Shivam Ply&Hardware</p>
            <p class="para3">since 1999</p>
        </div>
    </div>
    <div class="aboutus" id="About Us">
        <div class="abouttext">
            <h class="about">About Us</h>
            <p class="para4">
                <span>&#10077;</span>
                we are passionate about providing top-quality plywood products to meet your needs. With 23 years of
                experience in the industry, we have established ourselves as a trusted supplier of premium-grade plywood
                <span>&#10078;</span>
            </p>
            <p class="com">Join Us:</p>
            <p class="para4">
                <span>&#10077;</span>
                We invite you to explore our extensive range of plywood products and discover the quality and
                reliability
                that Shivam Ply&Hardware stands for. Let us be your trusted partner in your next project, providing
                you
                with the plywood you need to bring your vision to life.
                <span>&#10078;</span>
            </p>
        </div>
        <div class="aboutimg">
            <video autoplay loop muted plays-inline>
                <source src="../static/photos/video1.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="profull">
        <p class="protitle" id="Products">Products:</p>
        <div class="con1">
            <div class="left" onclick="scroll_l()">
                <span class="symbol">
                    < </span>
            </div>
            <div class="con2">
                <div class="pro"><img src="../static/photos/pro4.jpg" alt="">
                    <p>Plywood</p>
                </div>
                <div class="pro"><img src="../static/photos/pro2.jpg" alt="">
                    <p>Sunmica</p>
                </div>
                <div class="pro"><img src="../static/photos/pro8.jpg" alt="">
                    <p>Shelf</p>
                </div>
                <div class="pro"><img src="../static/photos/pro1.jpg" alt="">
                    <p>Locks</p>
                </div>
                <div class="pro"><img src="../static/photos/pro3.jpg" alt="">
                    <p>Favicols</p>
                </div>
                <div class="pro"><img src="../static/photos/pro7.jpg" alt="">
                    <p>Curtain rods</p>
                </div>
                <div class="pro"><img src="../static/photos/pro5.jpg" alt="">
                    <p>Hinges</p>
                </div>
                <div class="pro"><img src="../static/photos/pro6.jpeg" alt="">
                    <p>Screw</p>
                </div>
            </div>
            <div class="right" onclick="scroll_r()">
                <span class="symbol">></span>
            </div>
        </div>
    </div>

    <div class="projectfull">
        <p class="bratitle" id="Projects">Projects:</p>
        <div class="brand">
            <div class="project1">
                <div class="proimg1"><img src="../static/photos/project1.jpg" alt=""></div>
                <div class="proimg2"><img src="../static/photos/project2.jpg" alt=""></div>
            </div>
            <div class="project1">
                <div class="proimg2"><img src="../static/photos/project4.jpg" alt=""></div>
                <div class="proimg1"><img src="../static/photos/project5.jpg" alt=""></div>
            </div>
            <div class="project3">
                <img src="../static/photos/project3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="confull">
        <h3 class="conte">Contact Us:</h1>
            <div class="contect" id="contect">
                <div class="c" id="c2">
                    <h7><strong>Shivam ply&Hardware</strong></h7>
                    <p>Railway station Road,</p>
                    <p>Halvad,Morbi-363330</p>
                </div>
                <div class="c" id="c3">
                    <p class="head"><strong>Product:</strong></p>
                    </p><br>Plywood<br>Sunmica<br>Favicols<br>locks<br>Hendles <br>etc...<p>
                </div>
                <div class="c" id="c4">
                    <p class="head"><strong>contect No:</strong></p>
                    <br>
                    <p>Mo:9825493438</p>
                    <p>Mo:9825493640</p>
                    <br>
                    <p class="head"><strong>For more information:</strong></p>

                    <form action="contect" method="POST">
                        <div class="outform">
                            <div class="inp">
                                <input type="email" name="email" required="">
                                <label>Enter Email</label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
    </div>

    <div class="copy">
        copyright &copy; www.shivamPly&Hardware.com | All rights reserved!
    </div>


    <script>

        function scroll_l() {
            var left = document.querySelector(".con2");
            left.scrollBy(-288, 0)
        }

        function scroll_r() {
            var right = document.querySelector(".con2");
            right.scrollBy(288, 0)
        }


        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2200,
            delay: 200
        });

        ScrollReveal().reveal('.main , .about , .com , .protitle , .bratitle , .conte', { delay: 10,origin:'left' });    
        ScrollReveal().reveal('.para4, .project1 , .project3 , .head' , { delay: 50 });
        ScrollReveal().reveal('.icon', { delay: 500 ,origin:'right'});
    </script>
</body>

</html>

